In [1]:
import bitfinex
api_v2 = bitfinex.bitfinex_v2.api_v2()

No keys, only access to public API functions

In [2]:
import datetime
import time
import pandas as pd

In [3]:
result = api_v2.candles()

In [4]:
datetime.datetime.now()

datetime.datetime(2021, 4, 1, 18, 11, 43, 144866)

In [101]:

# Define query parameters
pair = 'btcusd' # Currency pair of interest
bin_size = '30m' # This will return minute data
limit = 1000    # We want the maximum of 1000 data points 
# Define the start date
t_start = datetime.datetime(2021, 3, 31, 0, 0)
t_start = time.mktime(t_start.timetuple()) * 1000
# Define the end date
t_stop = datetime.datetime(2021, 3, 31, 18, 30)
t_stop = time.mktime(t_stop.timetuple()) * 1000
t_stop = time.time()*1000
result = api_v2.candles(symbol=pair, interval=bin_size,  
                         limit=limit, start=t_start, end=t_stop)

In [94]:
time.time()

1617294739.3185282

In [102]:
def fetch_data(start, stop, symbol, interval, tick_limit, step):
    # Create api instance
    api_v2 = bitfinex.bitfinex_v2.api_v2()
    data = []
    start = start - step
    while start < stop:
        start = start + step
        end = start + step
        res = api_v2.candles(symbol=symbol, interval=interval,
                             limit=tick_limit, start=start,
                             end=end)
        data.extend(res)
        time.sleep(2)
    return data

In [103]:
%timeit
# Set step size
time_step = 60000000

pair_data = fetch_data(start=t_start, stop=t_stop, symbol=pair,
                       interval=bin_size, tick_limit=limit, 
                       step=time_step)

No keys, only access to public API functions

In [104]:
# Create pandas data frame and clean/format data
names = ['time', 'open', 'close', 'high', 'low', 'volume']
df = pd.DataFrame(pair_data[:-6], columns=names)
df.drop_duplicates(inplace=True)
df['time'] = pd.to_datetime(df['time'], unit='ms')
df.set_index('time', inplace=True)
df.sort_index(inplace=True)

In [105]:
df

,open,close,high,low,volume
time,,,,,
2021-03-30 22:00:00,58780.000000,58868.0000,58966.14945,58717.856172,37.831894
2021-03-30 22:30:00,58859.000000,58776.0896,58905.00000,58682.000000,72.774989
2021-03-30 23:00:00,58776.089600,58804.0000,58812.00000,58670.000000,80.673442
2021-03-30 23:30:00,58804.220399,58840.0000,58841.00000,58670.000000,18.535530
2021-03-31 00:00:00,58837.000000,58816.0000,59066.00000,58757.000000,78.740802
...,...,...,...,...,...
2021-04-01 05:00:00,58867.000000,58850.0000,58955.00000,58700.000000,41.550125
2021-04-01 05:30:00,58853.000000,58777.0000,58949.00000,58777.000000,20.786258
2021-04-01 06:00:00,58782.000000,58929.0000,58999.00000,58781.273690,31.063043
2021-04-01 06:30:00,58915.000000,58729.0000,58994.00000,58669.000000,52.807253
2021-04-01 07:00:00,58729.000000,58858.0000,58889.00000,58527.000000,295.366205

In [74]:
datetime.datetime.now()

datetime.datetime(2021, 4, 1, 18, 29, 16, 735199)